* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	padding: 0.5rem;
}

.container {
	border-radius: 1rem;
	padding: 0.5rem;
	position: relative;
	width: 35rem;
	height: 100%;
	background-color: rgb(206, 184, 184);
	margin: auto;
	text-align: center;
}

.container .clear-cards-btn {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
}

.container h1 {
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: yellow; */
}

.container .btn {
	margin-left: 1rem;
	padding: 0.5rem;
}

.memory-card-container {
	position: relative;
}

.card {
	position: absolute;
	background-color: aqua;
	width: 100%;
	/* visibility: hidden; */
	height: 15rem;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.582);
	transform: translateX(50%);
}

.card.active {
	visibility: visible;
	z-index: 10;
	transform: translateX(0);
}

.inner-card {
	width: 100%;
	height: 100%;
}

.inner-card .inner-card-front,
.inner-card-back {
	position: absolute;
	margin: 0.5rem;
	background-color: antiquewhite;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	height: 92%;
	max-height: 100%;
}

.card-navigation {
	display: flex;
	/* background-color: bisque; */
	margin-top: 0.5rem;
	text-align: center;
	justify-content: center;
	padding: 1rem;
	font-size: 1.5rem;
}

.card-navigation i {
	margin: 0.5rem;
}

.card-navigation p {
	align-self: center;
}

.add-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	display: none;
	background-color: rgb(235, 211, 211);
}

.add-container .form-control {
	width: 100%;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}

.add-container .form-control input {
	width: 100%;
	padding: 0.5rem;
}

.add-container .form-control label {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.add-card-btn {
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
}
